header {
  font-size: .7em;
  background: black;
  color: white;
  height: 5em;
  padding: 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // position: fixed;
  // width: 100%;
}
