header {
  font-size: .7em;
  background: black;
  color: white;
  height: 5em;
  padding: 2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // position: fixed;
  // width: 100%;
}

.top-menu {
  display: none;
}

@media screen and (min-width: 570px) {
  nav {
    // border: solid white;,
    width: 75%;

    .top-menu {
      // width: 100%;
      display: flex;
      justify-content: space-between;
      // color: white;
      font-size: 2em;
    }
  }
}
