// @import "helpers/mixin";§
@import "helpers/variables";
@import "helpers/placeholder";

@import "components/hamburger-menu";

@import "layout/reset";
@import "layout/header";
@import "layout/footer";
@import "layout/logo-container";
@import "layout/text-box";

@import "pages/start";
@import "pages/work";
@import "pages/work-example";
@import "pages/contact";

body {
  font-family: $font-stack;
  text-transform: capitalize;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 1.5em;
}

h2, h3 {
  margin: 1em;
  text-align: center;
}
