.front-page-text-wrapper {
  @extend %front-page-text-wrapper;

  h1 {
    margin: 1em;
    text-align: center;
  }
  p {
    // border: solid;
    text-align: center;
    margin: 0 1em 1em 1em;
    line-height: 1.5;
    font-size: .9em;
  }
}

.img-wrap {
  @extend %center;
  text-align: center;
  // display: flex;
  // justify-content: center;
  // flex-direction: column;
  // text-align: center;
  // align-items: center;
}

// .background-image {
//   background-repeat: no-repeat;
//   background-size: contain;
//   width: 100%;
//   display: block;
// }

.text-wrap {
  position: absolute;
  // font-size: 2.5em;
  color: white;
  text-shadow: 5px 3px 3px black;

  a {
    color: white;
    margin-top: 1em;
    padding: .5em 3em;
    border: 1px solid;
    outline: 1px gray solid;
  }

  h3 {
    margin-bottom: 1em;
  }
}

@media screen and (min-width: 570px) {
  .front-page-text-wrapper {
    p {
      width: 50%;
      font-size: 1em;
      margin-bottom: 3em;
    }
  }
}

@media screen and (min-width: 760px) {

  .front-page-text-wrapper {
    p {
      font-size: 1em;
      // margin-bottom: 3em;
    }
  }

  .text-wrap {
    font-size: 1.5em;
  }
}

@media screen and (min-width: 990px) {
  .img-wrap {
    width: 33.3%;
  }

  .front-page-text-wrapper {
    p {
      // width: 50%;
      // font-size: 1em;
    }
  }

  .text-wrap {
    font-size: 1em;
  }

  .work-flex {
    margin-bottom: 5em;
  }
}
