.work-section {
    width: 100%;
    height: auto;

    h1 {
    margin: 2rem;
    text-align: center;
    font-size: 3em;
    }
}

.work-wrap {
  // border: solid black;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  a {
    margin: 1em;
  }

  h3 {
    text-align: center;
    text-transform: uppercase;
    margin: 8px;;
  }
}

.background-image {
  display: block;
}


@media screen and (min-width: 760px) {
  .work-img-wrap {
    width: 40%;
  }

  a {
    width: 40%;
  }
}

@media screen and (min-width: 990px) {
  .work-img-wrap {
    width: 30%;
  }

  a {
    width: 30%;
  }

  .work-flex{
    // flex:3;
  }
}
