.work-example-text-box {
  // @extend %front-page-text-wrapper;
}

.logo-wrap {

  img {
    top: 40%;
  }

  h2 {
    margin: 0;
    position: absolute;
    top: 70%;
    left: 0;
    width: 100%;

    font-size: 1em;
    color: $white;
    text-shadow: $ts;
  }
}

@media screen and (min-width: 500px) {
  .logo-wrap {
    h2 {
      font-size: 1.5em;
    }
  }
}

@media screen and (min-width: 800px) {
  .logo-wrap {
    h2 {
      font-size: 2em;
    }
  }
}
