footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  background-color: $black;
  color: $white;

  h2 {
    font-size: 1em;
    letter-spacing: 2px;
    margin: 1em;
  }

  p {
    color: $grey;
    font-size: .5em;
  }

  img {
    width: 40%;
  }

  a {
    color: white;
    &:hover {
      color: red;
      transition: all .3s ease;
    }
  }

  .info {
    display: none;
    width: 100%;
    text-align: left;
    margin: 10em;
    letter-spacing: 0.1em;

    h4 {
      text-transform: uppercase;
      color: #ae9f9f;
    }
    .sociallogos{
      display: none;
    }
  }

  @media (min-width: 768px){
    img, h2, p{
        display: none;
    }
    .sociallogos{
      width: 10%;
    }

    .info {
      display: flex;
      justify-content: space-evenly;
      text-align: left;
      margin: 10em;

      ul{
        letter-spacing: 0.1em;
      }

    h4{
      text-transform: uppercase;
      color: $grey;
    }

        a li{
            color: $white;
        }
      }
    }
  }
