.header-start {
  height: 4em;
}

header {
  background: black;
  color: white;
  height: 4em;
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 1;

  h1 {
    right: 1rem;
    position: absolute;
    font-size: 1.5em;
  }
}

.desktop-menu {
  display: none;
  width: 80%;

  ul {
    display: flex;
    justify-content: space-around;
  }

  a {
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;

    &:hover {
      color: red;
      transition: all .3s ease;
    }
  }
}

@media (min-width: 760px) {
  .desktop-menu {
    display: block;
  }
}

@media screen and (min-width: 990px) {
  .desktop-menu {
    margin: 0 auto;
    max-width: 50%;
  }
}
