.logo-wrap {
  position: relative;
}

.background-image {
  // @extend %background-image;
  width: 100%;
  max-height: 38em;
  object-fit: cover;
}

.logo-img {
  // @extend %logo-img;

  width: 60%;
  max-width: 30em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
