* {
  box-sizing: border-box;
  // border: solid;
}

html, body, ul, ol, li, form, fieldset, legend {
  margin: 0;
  padding: 0;
}

html {
  // background: blue;
  margin: 0em;
  padding: 0em;
}

body {
  // background: red;
  margin: 0em;
  padding: 0em;
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
}

h1 {
  margin: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
