.text-box {
  padding: 0 3em;
  min-height: 15em;

  text-align: center;
  line-height: $lh;
  font-weight: $fw;
  font-size: .6em;

  h2 {
    font-size: 2em;
  }

  p {
    text-transform: none;
  }
}

@media screen and (min-width: 320px) {
  .text-box {
    font-size: .8em;
  }
}

@media screen and (min-width: 540px) {
  .text-box {
    font-size: 1em;
  }
}

@media screen and (min-width: 760px) {
  .text-box {
    width: 75%;
    margin: auto;
  }
}

@media screen and (min-width: 990px) {
  .text-box {
    width: 50%;
    margin: auto;
  }
}

@media screen and (min-width: 1500px) {
  .text-box {
    font-size: 1.3em;
  }
}
