$font-stack: "Helvetica Neue", Helvetica, Arial, sans-serif;

//line height
$lh: 1.5;

//font weight
$fw: 200;

//letter-spacing
$ls: 0.1em;

//text shadow
$ts: 5px 3px 3px black;

//colors
$black: #000000;
$gray: #a99f9f;
$white: #FFFFFF;
$red: #f44242;
$green: #2E8B57;
